.gallery {
    height: auto;
    width: 100%;
    background-color: #f7f7f7;
    margin: 40px 0;
    border-radius: 25px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;

    @media (max-width: 900px) {
        background-color: white;
        overflow-y: hidden;
        height: auto;
        padding: 0;
    }
}